CREATE DATABASE QuanLyBanHang
GO

USE QuanLyBanHang
GO

-- Tạo bảng KHACHHANG
CREATE TABLE KHACHHANG
(
	MAKH CHAR(4),
	HOTEN VARCHAR(40),
	DCHI VARCHAR(50),
	SODT VARCHAR(20),
	NGSINH SMALLDATETIME,
	NGDK SMALLDATETIME,
	DOANHSO MONEY,
	CONSTRAINT PK_KHACHHANG PRIMARY KEY (MAKH)
)

-- Tạo bảng NHANVIEN
CREATE TABLE NHANVIEN
(
	MANV CHAR(4),
	HOTEN VARCHAR(40),
	SODT VARCHAR(20),
	NGVL SMALLDATETIME
	CONSTRAINT PK_NHANVIEN PRIMARY KEY (MANV)
)

-- Tạo bảng SANPHAM
CREATE TABLE SANPHAM
(
	MASP CHAR(4),
	TENSP VARCHAR(40),
	DVT VARCHAR(20),
	NUOCSX VARCHAR(40),
	GIA MONEY
	CONSTRAINT PK_SANPHAM PRIMARY KEY (MASP)
)

-- Tạo bảng HOADON
CREATE TABLE HOADON
(
	SOHD INT,
	NGHD SMALLDATETIME,
	MAKH CHAR(4),
	MANV CHAR(4),
	TRIGIA MONEY
	CONSTRAINT PK_HOADON PRIMARY KEY (SOHD),
	CONSTRAINT FK_MAKH FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH),
	CONSTRAINT FK_MANV FOREIGN KEY (MANV) REFERENCES NHANVIEN(MANV)
)

-- Tạo bảng CTHD (Chi tiết hóa đơn)
CREATE TABLE CTHD
(
	SOHD INT,
	MASP CHAR(4),
	SL INT,
	CONSTRAINT PK_CTHD PRIMARY KEY (SOHD, MASP),
	CONSTRAINT FK_MASP FOREIGN KEY (MASP) REFERENCES SANPHAM(MASP)
)

-- I.2 Thêm vào thuộc tính GHICHU có kiểu dữ liệu varchar(20) cho quan hệ SANPHAM
ALTER TABLE SANPHAM
ADD GHICHU VARCHAR(20)

-- I.3 Thêm vào thuộc tính LOAIKH có kiểu dữ liệu là tinyint cho quan hệ KHACHHANG
ALTER TABLE KHACHHANG
ADD LOAIKH TINYINT

-- I.4 Sửa kiểu dữ liệu của thuộc tính GHICHU trong quan hệ SANPHAM thành varchar(100)
ALTER TABLE SANPHAM
ALTER COLUMN GHICHU VARCHAR(100)

-- I.5 Xóa thuộc tính GHICHU trong quan hệ SANPHAM
ALTER TABLE SANPHAM
DROP COLUMN GHICHU

-- I.6 Làm thế nào để thuộc tính LOAIKH trong quan hệ KHACHHANG có thể lưu các giá trị là: “Vang lai”, “Thuong xuyen”, “Vip”, … 
ALTER TABLE KHACHHANG
ALTER COLUMN LOAIKH VARCHAR(8)

ALTER TABLE KHACHHANG
ADD CONSTRAINT CHK_LOAIKH
CHECK (LOAIKH IN ('Vang lai', 'Thuong xuyen', 'Vip'))

-- I.7 Đơn vị tính của sản phẩm chỉ có thể là (“cay”,”hop”,”cai”,”quyen”,”chuc”)
ALTER TABLE SANPHAM
ADD CONSTRAINT CHK_DVT
CHECK (DVT IN ('cay', 'hop', 'cai', 'quyen', 'chuc'))

-- I.8 Giá bán của sản phẩm từ 500 đồng trở lên
ALTER TABLE SANPHAM
ADD CONSTRAINT CHK_GIA
CHECK (GIA >= 500)

-- I.9 Mỗi lần mua hàng, khách hàng phải mua ít nhất 1 sản phẩm
ALTER TABLE CTHD
ADD CONSTRAINT CHK_SL
CHECK (SL >= 1)

-- I.10 Ngày khách hàng đăng ký là khách hàng thành viên phải lớn hơn ngày sinh của người đó
ALTER TABLE KHACHHANG
ADD CONSTRAINT CHK_NGDK
CHECK (NGDK > NGSINH)

-- II.1 Nhập dữ liệu cho các quan hệ trên
SET DATEFORMAT DMY

-- Nhập dữ liệu cho KHACHHANG
INSERT INTO KHACHHANG VALUES('KH01','Nguyen Van A','731 Tran Hung Dao, Q5, TpHCM','8823451','22/10/1960','22/07/2006',13060000)
INSERT INTO KHACHHANG VALUES('KH02','Tran Ngoc Han','23/5 Nguyen Trai, Q5, TpHCM','908256478','03/04/1974','30/07/2006',280000)
INSERT INTO KHACHHANG VALUES('KH03','Tran Ngoc Linh','45 Nguyen Canh Chan, Q1, TpHCM','938776266','12/06/1980','08/05/2006',3860000)

-- Nhập dữ liệu cho NHANVIEN
INSERT INTO NHANVIEN VALUES('NV01','Nguyen Nhu Nhut','927345678','13/04/2006')
INSERT INTO NHANVIEN VALUES('NV02','Le Thi Phi Yen','987567390','21/04/2006')
INSERT INTO NHANVIEN VALUES('NV03','Nguyen Van B','997047382','27/04/2006')

-- Nhập dữ liệu cho SANPHAM
INSERT INTO SANPHAM VALUES('BC01','But chi','cay','Singapore',3000)
INSERT INTO SANPHAM VALUES('BC02','But chi','cay','Singapore',5000)
INSERT INTO SANPHAM VALUES('BC03','But chi','cay','Viet Nam',3500)

-- Nhập dữ liệu cho HOADON
INSERT INTO HOADON VALUES(1001,'23/07/2006','KH01','NV01',320000)
INSERT INTO HOADON VALUES(1002,'12/08/2006','KH01','NV02',840000)
INSERT INTO HOADON VALUES(1003,'23/08/2006','KH02','NV01',100000)

-- Nhập dữ liệu cho CTHD
INSERT INTO CTHD VALUES(1001,'TV02',10)
INSERT INTO CTHD VALUES(1001,'ST01',5)
INSERT INTO CTHD VALUES(1001,'BC01',5)

-- II.2 Tạo quan hệ SANPHAM1 chứa toàn bộ dữ liệu của quan hệ SANPHAM
-- Tạo quan hệ KHACHHANG1 chứa toàn bộ dữ liệu của quan hệ KHACHHANG
SELECT * INTO SANPHAM1
FROM SANPHAM

SELECT * INTO KHACHHANG1
FROM KHACHHANG

-- II.3 Cập nhật giá tăng 5% đối với những sản phẩm do “Thai Lan” sản xuất (cho quan hệ SANPHAM1)
UPDATE SANPHAM1
SET GIA = 1.05 * GIA
WHERE NUOCSX = 'Thai Lan'

-- II.4 Cập nhật giá giảm 5% đối với những sản phẩm do “Trung Quoc” sản xuất có giá từ 10.000 trở xuống (cho quan hệ SANPHAM1)
UPDATE SANPHAM1
SET GIA = 0.95 * GIA
WHERE NUOCSX = 'Trung Quoc' AND GIA <= 10000


-- II.5 Cập nhật giá trị LOAIKH là “Vip” đối với những khách hàng đăng ký thành viên trước ngày 1/1/2007 có doanh số từ 10.000.000
-- trở lên hoặc khách hàng đăng ký thành viên từ 1/1/2007 trở về sau có doanh số từ 2.000.000 trở lên (cho quan hệ KHACHHANG1). 
UPDATE KHACHHANG1
SET LOAIKH = 'Vip'
WHERE (NGDK < '1/1/2007' AND DOANHSO >= 10000000)
OR (NGDK >= '1/1/2007' AND DOANHSO >= 2000000)

-- III.1 In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'

-- III.2 In ra danh sách các sản phẩm (MASP, TENSP) có đơn vị tính là “cay”, ”quyen”
SELECT MASP, TENSP
FROM SANPHAM
WHERE DVT in ('cay', 'quyen')

-- III.3 In ra danh sách các sản phẩm (MASP,TENSP) có mã sản phẩm bắt đầu là “B” và kết thúc là “01”
SELECT MASP, TENSP
FROM SANPHAM
WHERE MASP LIKE 'B_01'

-- III.4 In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quốc” sản xuất có giá từ 30.000 đến 40.000
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc' AND GIA BETWEEN 30000 AND 40000

-- III.5 In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” hoặc “Thai Lan” sản xuất có giá từ 30.000 đến 40.000
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX IN ('Trung Quoc', 'Thai Lan') AND GIA BETWEEN 30000 AND 40000

-- III.6 In ra các số hóa đơn, trị giá hóa đơn bán ra trong ngày 1/1/2007 và ngày 2/1/2007
SET DATEFORMAT DMY
SELECT SOHD, TRIGIA
FROM HOADON
WHERE NGHD IN ('1/1/2007', '2/1/2007')

-- III.7 In ra các số hóa đơn, trị giá hóa đơn trong tháng 1/2007
-- sắp xếp theo ngày (tăng dần) và trị giá của hóa đơn (giảm dần)
SELECT SOHD, TRIGIA
FROM HOADON
WHERE MONTH(NGHD) = 1 AND YEAR(NGHD) = 2007
ORDER BY NGHD ASC, TRIGIA DESC

-- III.8 In ra danh sách các khách hàng (MAKH, HOTEN) đã mua hàng trong ngày 1/1/2007
SELECT DISTINCT KH.MAKH, KH.HOTEN
FROM KHACHHANG KH
	INNER JOIN HOADON HD
	ON KH.MAKH = HD.MAKH
WHERE NGHD = '1/1/2007'

-- III.9 In ra số hóa đơn, trị giá các hóa đơn do nhân viên có tên “Nguyen Van B” lập trong ngày 28/10/2006
SET DATEFORMAT DMY
SELECT SOHD, TRIGIA
FROM HOADON HD
	INNER JOIN NHANVIEN NV
	ON HD.MANV = NV.MANV
WHERE HOTEN = 'Nguyen Van B' AND NGHD = '28/10/2006'

-- III.10 In ra danh sách các sản phẩm (MASP,TENSP) được khách hàng có tên “Nguyen Van A” mua trong tháng 10/2006
SELECT DISTINCT SP.MASP, SP.TENSP
FROM HOADON HD
	INNER JOIN KHACHHANG KH ON HD.MAKH = KH.MAKH
	INNER JOIN CTHD CT ON HD.SOHD = CT.SOHD
	INNER JOIN SANPHAM SP ON CT.MASP = SP.MASP
WHERE KH.HOTEN = 'Nguyen Van A' AND MONTH(NGHD) = 10 AND YEAR(NGHD) = 2006

-- III.11 Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”.
SELECT DISTINCT HD.SOHD
FROM HOADON HD
	INNER JOIN CTHD CT
	ON HD.SOHD = CT.SOHD
WHERE MASP IN ('BB01', 'BB02')

-- III.12 Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20
SELECT DISTINCT HD.SOHD
FROM HOADON HD
	INNER JOIN CTHD CT
	ON HD.SOHD = CT.SOHD
WHERE MASP IN ('BB01', 'BB02') AND SL BETWEEN 10 AND 20

-- III.13 Tìm các số hóa đơn mua cùng lúc 2 sản phẩm có mã số “BB01” và “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20
(SELECT HD.SOHD
FROM HOADON HD
	INNER JOIN CTHD CT
	ON HD.SOHD = CT.SOHD
WHERE MASP = 'BB01' AND SL BETWEEN 10 AND 20)
INTERSECT 
(SELECT HD.SOHD
FROM HOADON HD
	INNER JOIN CTHD CT
	ON HD.SOHD = CT.SOHD
WHERE MASP = 'BB02' AND SL BETWEEN 10 AND 20)

-- III.14 In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất
-- hoặc các sản phẩm được bán ra trong ngày 1/1/2007
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'
OR MASP IN (SELECT MASP
			FROM CTHD CT
				INNER JOIN HOADON HD 
				ON HD.SOHD = CT.SOHD
			WHERE NGHD = '1/1/2007')

-- III.15 In ra danh sách các sản phẩm (MASP,TENSP) không bán được
SELECT MASP, TENSP
FROM SANPHAM
WHERE MASP IN
	((SELECT MASP FROM SANPHAM) EXCEPT (SELECT MASP FROM CTHD))

-- III.16 In ra danh sách các sản phẩm (MASP,TENSP) không bán được trong năm 2006
SELECT MASP, TENSP
FROM SANPHAM
WHERE MASP IN
		((SELECT MASP FROM SANPHAM) 
		EXCEPT (SELECT MASP
				FROM CTHD CT 
					INNER JOIN HOADON HD
					ON CT.SOHD = HD.SOHD
				WHERE YEAR(NGHD) = 2006))

-- III.17 In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất không bán được trong năm 2006. 
SELECT MASP, TENSP
FROM SANPHAM
WHERE MASP IN
		((SELECT MASP FROM SANPHAM WHERE NUOCSX = 'Trung Quoc')
		EXCEPT (SELECT MASP
				FROM CTHD CT 
					INNER JOIN HOADON HD
					ON CT.SOHD = HD.SOHD
				WHERE YEAR(NGHD) = 2006))

-- III.18 Tìm số hóa đơn đã mua tất cả các sản phẩm do Singapore sản xuất
SELECT DISTINCT CT1.SOHD
FROM CTHD CT1
WHERE NOT EXISTS (
	SELECT *
		FROM SANPHAM SP
		WHERE NUOCSX = 'Singapore'
		AND NOT EXISTS (
			SELECT *
			FROM CTHD CT2
			WHERE CT1.SOHD = CT2.SOHD AND CT2.MASP = SP.MASP
		))

-- III.19 Tìm số hóa đơn trong năm 2006 đã mua ít nhất tất cả các sản phẩm do Singapore sản xuất
SELECT DISTINCT SOHD
FROM HOADON HD
WHERE YEAR(NGHD) = 2006
AND NOT EXISTS (
	SELECT *
	FROM SANPHAM SP
	WHERE NUOCSX = 'Singapore'
	AND NOT EXISTS (
		SELECT *
		FROM CTHD CT
		WHERE HD.SOHD = CT.SOHD AND CT.MASP = SP.MASP
	))

-- III.20 Có bao nhiêu hóa đơn không phải của khách hàng đăng ký thành viên mua?
SELECT COUNT(SOHD) DEM_HD_NOT_TV
FROM HOADON
WHERE MAKH IS NULL

-- III.21 Có bao nhiêu sản phẩm khác nhau được bán ra trong năm 2006
SELECT COUNT(DISTINCT MASP) DEM_SP_2006
FROM HOADON HD 
	INNER JOIN CTHD CT
	ON HD.SOHD = CT.SOHD
WHERE YEAR(NGHD) = 2006

-- III.22 Cho biết trị giá hóa đơn cao nhất, thấp nhất là bao nhiêu ?
SELECT MIN(TRIGIA) MIN_HD_GIATRI, MAX(TRIGIA) MAX_HD_GIATRI
FROM HOADON

-- III.23 Trị giá trung bình của tất cả các hóa đơn được bán ra trong năm 2006 là bao nhiêu
SELECT AVG(TRIGIA) AVG_HD_GIATRI
FROM HOADON
WHERE YEAR(NGHD) = 2006

-- III.24 Tính doanh thu bán hàng trong năm 2006
SELECT SUM(TRIGIA) DOANHTHU_2006
FROM HOADON
WHERE YEAR(NGHD) = 2006

-- III.25 Tìm số hóa đơn có trị giá cao nhất trong năm 2006
SELECT SOHD
FROM HOADON
WHERE TRIGIA = (SELECT MAX(TRIGIA) FROM HOADON)

-- III.26 Tìm họ tên khách hàng đã mua hóa đơn có trị giá cao nhất trong năm 2006
SELECT HOTEN
FROM HOADON HD
	INNER JOIN KHACHHANG KH
	ON HD.MAKH = KH.MAKH
WHERE TRIGIA = (
	SELECT MAX(TRIGIA) 
	FROM HOADON 
	WHERE YEAR(NGHD) = 2006
)

--  III.27 In ra danh sách 3 khách hàng (MAKH, HOTEN) có doanh số cao nhất
SELECT TOP 3 MAKH, HOTEN
FROM KHACHHANG
ORDER BY DOANHSO DESC

-- III.28 In ra danh sách các sản phẩm (MASP, TENSP) có giá bán bằng 1 trong 3 mức giá cao nhất.
SELECT MASP, TENSP
FROM SANPHAM
WHERE GIA IN (
	SELECT DISTINCT TOP 3 GIA 
	FROM SANPHAM 
	ORDER BY GIA DESC
)

-- III.29 In ra danh sách các sản phẩm (MASP, TENSP) do “Thai Lan” sản xuất có giá bằng 1 trong 3 mức giá cao nhất (của tất cả các sản phẩm)
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX = 'Thai Lan'
AND GIA IN (
	SELECT DISTINCT TOP 3 GIA 
	FROM SANPHAM 
	ORDER BY GIA DESC
)

-- III.30 In ra danh sách các sản phẩm (MASP, TENSP) do “Trung Quoc” sản xuất có giá bằng 1 trong 3 mức giá cao nhất (của sản phẩm do “Trung Quoc” sản xuất)
SELECT MASP, TENSP
FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'
AND GIA IN (
	SELECT DISTINCT TOP 3 GIA 
	FROM SANPHAM 
	ORDER BY GIA DESC
)

-- III.31 In ra danh sách 3 khách hàng có doanh số cao nhất (sắp xếp theo kiểu xếp hạng)
SELECT TOP 3 *
FROM KHACHHANG
ORDER BY DOANHSO DESC

-- III.32 Tính tổng số sản phẩm do “Trung Quoc” sản xuất
SELECT COUNT(MASP) DEM_SP_TQ
FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'

-- III.33 Tính tổng số sản phẩm của từng nước sản xuất
SELECT NUOCSX, COUNT(MASP) SOSP
FROM SANPHAM
GROUP BY NUOCSX

-- III.34 Với từng nước sản xuất, tìm giá bán cao nhất, thấp nhất, trung bình của các sản phẩm
SELECT NUOCSX, MAX(GIA) MAX_GIA, MIN(GIA) MIN_GIA, AVG(GIA) TB_GIA
FROM SANPHAM
GROUP BY NUOCSX

-- III.35 Tính doanh thu bán hàng mỗi ngày
SELECT NGHD, SUM(TRIGIA) DOANHTHU
FROM HOADON
GROUP BY NGHD

--- III.36 Tính tổng số lượng của từng sản phẩm bán ra trong tháng 10/2006
SELECT SP.MASP, SP.TENSP, COUNT(SL) TONGSL
FROM SANPHAM SP
	INNER JOIN CTHD CT ON SP.MASP = CT.MASP
	INNER JOIN HOADON HD ON CT.SOHD = HD.SOHD
GROUP BY SP.MASP, SP.TENSP, MONTH(NGHD), YEAR(NGHD)
HAVING MONTH(NGHD) = 10 AND YEAR(NGHD) = 2006

-- III.37 Tính doanh thu bán hàng của từng tháng trong năm 2006
SELECT MONTH(NGHD) THANG, SUM(TRIGIA) DOANHTHU
FROM HOADON
WHERE YEAR(NGHD) = 2006
GROUP BY MONTH(NGHD)

-- III.38 Tìm hóa đơn có mua ít nhất 4 sản phẩm khác nhau
SELECT SOHD
FROM CTHD
GROUP BY SOHD
HAVING COUNT(DISTINCT MASP) >= 4

-- III.39 Tìm hóa đơn có mua 3 sản phẩm do “Viet Nam” sản xuất (3 sản phẩm khác nhau). 
SELECT SOHD
FROM (SELECT SOHD, CT.MASP, NUOCSX
	FROM CTHD CT
	INNER JOIN SANPHAM SP
	ON CT.MASP = SP.MASP) AS A
GROUP BY SOHD, NUOCSX
HAVING NUOCSX = 'Viet Nam' AND COUNT(DISTINCT MASP) >= 3

-- III.40 Tìm khách hàng (MAKH, HOTEN) có số lần mua hàng nhiều nhất
SELECT MAKH, HOTEN
FROM KHACHHANG
WHERE MAKH = (
		SELECT TOP 1 MAKH
		FROM HOADON
		GROUP BY MAKH
		ORDER BY COUNT(SOHD) DESC
	)

-- III.41 Tháng mấy trong năm 2006, doanh số bán hàng cao nhất
SELECT TOP 1 MONTH(NGHD) THANG_DT_MAX
FROM HOADON
GROUP BY MONTH(NGHD), YEAR(NGHD)
HAVING YEAR(NGHD) = 2006
ORDER BY SUM(TRIGIA) DESC

-- III.42 Tìm sản phẩm (MASP, TENSP) có tổng số lượng bán ra thấp nhất trong năm 2006
SELECT MASP, TENSP
FROM SANPHAM
WHERE MASP = (
	SELECT TOP 1 MASP
	FROM (SELECT MASP, SL
		FROM CTHD CT
		INNER JOIN HOADON HD
		ON CT.SOHD = HD.SOHD
		WHERE YEAR(NGHD) = 2006
	) AS CT_HD
	GROUP BY MASP
	ORDER BY SUM(SL) ASC
)

-- III.43 Mỗi nước sản xuất, tìm sản phẩm (MASP,TENSP) có giá bán cao nhất
SELECT A.NUOCSX, MASP, TENSP
FROM SANPHAM SP
	INNER JOIN (
		SELECT NUOCSX, MAX(GIA) MAX_GIA
		FROM SANPHAM
		GROUP BY NUOCSX) AS A
ON SP.GIA = MAX_GIA AND SP.NUOCSX = A.NUOCSX

-- III.44 Tìm nước sản xuất sản xuất ít nhất 3 sản phẩm có giá bán khác nhau
SELECT NUOCSX, COUNT(DISTINCT GIA)
FROM SANPHAM
GROUP BY NUOCSX
HAVING COUNT(DISTINCT GIA) >= 3

-- III.45 Trong 10 khách hàng có doanh số cao nhất, tìm khách hàng có số lần mua hàng nhiều nhất
SELECT *
FROM KHACHHANG
WHERE MAKH = (
	SELECT TOP 1 A.MAKH	
	FROM
	(
		SELECT TOP 10 MAKH
		FROM KHACHHANG
		ORDER BY DOANHSO DESC
	) AS A INNER JOIN 
	(
		SELECT MAKH, COUNT(SOHD) DEM_HD
		FROM HOADON
		GROUP BY MAKH
	) AS B ON A.MAKH = B.MAKH
	ORDER BY DEM_HD DESC
)