CREATE DATABASE QuanLyGiaoVu
GO

USE QuanLyGiaoVu
GO

-- Tạo bảng KHOA
CREATE TABLE KHOA 
(
	MAKHOA VARCHAR(4),
	TENKHOA VARCHAR(40),
	NGTLAP SMALLDATETIME,
	TRGKHOA CHAR(4)
	CONSTRAINT PK_KHOA PRIMARY KEY (MAKHOA)
)
GO

-- Tạo bảng MONHOC
CREATE TABLE MONHOC
(
	MAMH VARCHAR(10),
	TENMH VARCHAR(40),
	TCLT TINYINT,
	TCTH TINYINT,
	MAKHOA VARCHAR(4),
	CONSTRAINT PK_MONHOC PRIMARY KEY (MAMH),
	CONSTRAINT FK_MAKHOA FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)
)
GO

-- Tạo bảng DIEUKIEN
CREATE TABLE DIEUKIEN
(
	MAMH VARCHAR(10),
	MAMH_TRUOC VARCHAR(10),
	CONSTRAINT PK_DIEUKIEN PRIMARY KEY (MAMH, MAMH_TRUOC),
	CONSTRAINT FK_MAMH FOREIGN KEY (MAMH) REFERENCES MONHOC(MAMH),
	CONSTRAINT FK_MAMH_TRUOC FOREIGN KEY (MAMH_TRUOC) REFERENCES MONHOC(MAMH)
)
GO

-- Tạo bảng GIAOVIEN
CREATE TABLE GIAOVIEN
(
	MAGV CHAR(4),
	HOTEN VARCHAR(40),
	HOCVI VARCHAR(10),
	HOCHAM VARCHAR(10),
	GIOITINH VARCHAR(3),
	NGSINH SMALLDATETIME,
	NGVL SMALLDATETIME,
	HESO NUMERIC(4,2),
	MUCLUONG MONEY,
	MAKHOA VARCHAR(4)
	CONSTRAINT PK_GIAOVIEN PRIMARY KEY (MAGV),
	CONSTRAINT FK_MAKHOA_2 FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)
)
GO

-- Tạo bảng HOCVIEN
CREATE TABLE HOCVIEN
(
	MAHV CHAR(5),
	HO VARCHAR(40),
	TEN VARCHAR(10),
	NGSINH SMALLDATETIME,
	GIOITINH VARCHAR(3),
	NOISINH VARCHAR(40),
	MALOP CHAR(3),
	CONSTRAINT PK_HOCVIEN PRIMARY KEY (MAHV),
)
GO

-- Tạo bảng LOP
CREATE TABLE LOP
(
	MALOP CHAR(3),
	TENLOP VARCHAR(40),
	TRGLOP CHAR(5),
	SISO TINYINT,
	MAGVCN CHAR(4)
	CONSTRAINT PK_LOP PRIMARY KEY (MALOP),
	CONSTRAINT FK_MAGVCN FOREIGN KEY (MAGVCN) REFERENCES GIAOVIEN(MAGV)
)
GO

-- Tạo khóa ngoại giữa HOCVIEN và LOP
ALTER TABLE LOP ADD CONSTRAINT FK_TRGLOP FOREIGN KEY (TRGLOP) REFERENCES HOCVIEN(MAHV)
ALTER TABLE HOCVIEN ADD CONSTRAINT FK_LOP FOREIGN KEY (MALOP) REFERENCES LOP(MALOP)

-- Tạo bảng GIANGDAY
CREATE TABLE GIANGDAY
(
	MALOP CHAR(3),
	MAMH VARCHAR(10),
	MAGV CHAR(4),
	HOCKY TINYINT,
	NAM SMALLINT,
	TUNGAY SMALLDATETIME,
	DENNGAY SMALLDATETIME
	CONSTRAINT PK_GIANGDAY PRIMARY KEY (MALOP, MAMH),
	CONSTRAINT FK_MAGV FOREIGN KEY (MAGV) REFERENCES GIAOVIEN(MAGV)
)
GO

-- Tạo bảng KETQUATHI
CREATE TABLE KETQUATHI
(
	MAHV CHAR(5),
	MAMH VARCHAR(10),
	LANTHI TINYINT,
	NGTHI SMALLDATETIME,
	DIEM NUMERIC(4,2),
	KQUA VARCHAR(10)
	CONSTRAINT PK_KETQUATHI PRIMARY KEY (MAHV, MAMH, LANTHI)
	CONSTRAINT FK_MAHV FOREIGN KEY (MAHV) REFERENCES HOCVIEN(MAHV),
	CONSTRAINT FK_MAMH_2 FOREIGN KEY (MAMH) REFERENCES MONHOC(MAMH)
)
GO

-- Nhập dữ liệu cho KHOA --
insert into KHOA values('KHMT','Khoa hoc may tinh','6/7/2005','GV01')
insert into KHOA values('HTTT','He thong thong tin','6/7/2005','GV02')
insert into KHOA values('CNPM','Cong nghe phan mem','6/7/2005','GV04')

-- Nhập dữ liệu cho GIAOVIEN --
insert into GIAOVIEN values('GV01','Ho Thanh Son','PTS','GS','Nam','5/2/1950','1/11/2004',5.00,2250000,'KHMT')
insert into GIAOVIEN values('GV02','Tran Tam Thanh','TS','PGS','Nam','12/17/1965','4/20/2004',4.50,2025000,'HTTT')
insert into GIAOVIEN values('GV03','Do Nghiem Phung','TS','GS','Nu','8/1/1950','9/23/2004',4.00,1800000,'CNPM')
 
-- Nhập dữ liệu cho MONHOC --
insert into MONHOC values('THDC','Tin hoc dai cuong',4,1,'KHMT')
insert into MONHOC values('CTRR','Cau truc roi rac',5,0,'KHMT')
insert into MONHOC values('CSDL','Co so du lieu',3,1,'HTTT')

-- Nhập dữ liệu cho LOP --
insert into LOP values('K11','Lop 1 khoa 1','K1108',11,'GV07')
insert into LOP values('K12','Lop 2 khoa 1','K1205',12,'GV09')
insert into LOP values('K13','Lop 3 khoa 1','K1305',12,'GV14')

-- Nhập dữ liệu cho HOCVIEN --
insert into HOCVIEN values('K1101','Nguyen Van','A','1/27/1986','Nam','TpHCM','K11')
insert into HOCVIEN values('K1102','Tran Ngoc','Han','3/1/1986','Nu','Kien Giang','K11')
insert into HOCVIEN values('K1103','Ha Duy','Lap','4/18/1986','Nam','Nghe An','K11')

-- Nhập dữ liệu cho GIANGDAY --
insert into GIANGDAY values('K11','THDC','GV07',1,2006,'1/2/2006','5/12/2006')
insert into GIANGDAY values('K12','THDC','GV06',1,2006,'1/2/2006','5/12/2006')
insert into GIANGDAY values('K13','THDC','GV15',1,2006,'1/2/2006','5/12/2006')

-- NHẬP DỮ LIỆU CHO DIEUKIEN --
insert into DIEUKIEN values('CSDL','CTRR')
insert into DIEUKIEN values('CSDL','CTDLGT')
insert into DIEUKIEN values('CTDLGT','THDC')

-- Nhập dữ liệu cho KETQUATHI --
insert into KETQUATHI values('K1101','CSDL',1,'7/20/2006',10.00,'Dat')
insert into KETQUATHI values('K1101','CTDLGT',1,'12/28/2006',9.00,'Dat')
insert into KETQUATHI values('K1101','THDC',1,'5/20/2006',9.00,'Dat')

-- I.1 Tạo quan hệ và khai báo tất cả các ràng buộc khóa chính, khóa ngoại.
-- Thêm vào 3 thuộc tính GHICHU, DIEMTB, XEPLOAI cho quan hệ HOCVIEN
ALTER TABLE HOCVIEN ADD GHICHU VARCHAR(50), DIEMTB NUMERIC(4,2), XEPLOAI VARCHAR(10)

-- I.2 Mã học viên là một chuỗi 5 ký tự, 3 ký tự đầu là mã lớp, 2 ký tự cuối cùng là số thứ tự học viên trong lớp
CREATE FUNCTION dbo.chk_MAHV(@MAHV VARCHAR(5))
RETURNS INT
AS
BEGIN
	DECLARE @CHK INT
	SELECT @CHK = 
		CASE 
			WHEN (LEN(@MAHV) = 5)
			AND (LEFT(@MAHV, 3) = HV.MALOP)
			AND (CAST(RIGHT(@MAHV, 2) AS INT) BETWEEN 1 AND SISO)
			THEN 1 ELSE 0
		END
	FROM HOCVIEN HV INNER JOIN LOP ON HV.MALOP = LOP.MALOP
	WHERE @MAHV = HV.MAHV
	RETURN @CHK
END

ALTER TABLE HOCVIEN ADD CONSTRAINT CHECK_MAHV CHECK (dbo.chk_MAHV(MAHV) = 1)

-- I.3 Thuộc tính GIOITINH chỉ có giá trị là “Nam” hoặc “Nu”
ALTER TABLE HOCVIEN ADD CONSTRAINT CHECK_GTHV CHECK (GIOITINH IN ('Nam', 'Nu'))
ALTER TABLE GIAOVIEN ADD CONSTRAINT CHECK_GTGV CHECK (GIOITINH IN ('Nam', 'Nu'))

-- I.4 Điểm số của một lần thi có giá trị từ 0 đến 10 và cần lưu đến 2 số lẽ (VD: 6.22)
ALTER TABLE KETQUATHI ADD CONSTRAINT CHECK_DIEM CHECK 
(
	DIEM BETWEEN 0 AND 10
	AND RIGHT(CAST(DIEM AS VARCHAR), 3) LIKE '.__'
)

-- I.5 Kết quả thi là “Dat” nếu điểm từ 5 đến 10  và “Khong dat” nếu điểm nhỏ hơn 5
ALTER TABLE KETQUATHI ADD CONSTRAINT CHECK_KETQUA CHECK
(	
	(KQUA = 'Dat' AND DIEM BETWEEN 5 AND 10)
	OR (KQUA = 'Khong dat' AND DIEM < 5)
)

-- I.6 Học viên thi một môn tối đa 3 lần
ALTER TABLE KETQUATHI ADD CONSTRAINT CHECK_LANTHI CHECK (LANTHI <= 3)

-- I.7 Học kỳ chỉ có giá trị từ 1 đến 3
ALTER TABLE GIANGDAY ADD CONSTRAINT CHECK_HOCKY CHECK (HOCKY BETWEEN 1 AND 3)

-- I.8 Học vị của giáo viên chỉ có thể là “CN”, “KS”, “Ths”, ”TS”, ”PTS”
ALTER TABLE GIAOVIEN ADD CONSTRAINT CHECK_HOCVI CHECK (HOCVI IN ('CN', 'KS', 'Ths', 'TS', 'PTS'))

-- I.9 Lớp trưởng của một lớp phải là học viên của lớp đó
ALTER TABLE LOP ADD CONSTRAINT CHECK_TRGLOP CHECK (LEFT(TRGLOP, 3) = MALOP)

-- I.10 Trưởng khoa phải là giáo viên thuộc khoa và có học vị “TS” hoặc “PTS”
CREATE FUNCTION chk_TRGKHOA(@TRGKHOA VARCHAR(4))
RETURNS INT
AS
BEGIN
	DECLARE @CHK INT
	SELECT @CHK = 
		CASE
			WHEN (HOCVI IN ('TS', 'PTS'))
			AND (GV.MAKHOA = KHOA.MAKHOA)
			THEN 1 ELSE 0
		END
	FROM KHOA INNER JOIN GIAOVIEN GV
	ON KHOA.TRGKHOA = GV.MAGV
	WHERE @TRGKHOA = KHOA.TRGKHOA
	RETURN @CHK
END

ALTER TABLE KHOA ADD CONSTRAINT CHECK_TRGKHOA CHECK (dbo.chk_TRGKHOA(TRGKHOA) = 1)

-- I.11 Học viên ít nhất là 18 tuổi
ALTER TABLE HOCVIEN ADD CONSTRAINT CHECK_TUOI CHECK (YEAR(GETDATE()) - YEAR(NGSINH) >= 18)

-- I.12 Giảng dạy một môn học ngày bắt đầu (TUNGAY) phải nhỏ hơn ngày kết thúc (DENNGAY)
ALTER TABLE GIANGDAY ADD CONSTRAINT CHECK_GIANGDAY CHECK (TUNGAY < DENNGAY)

-- I.13 Giáo viên khi vào làm ít nhất là 22 tuổi
ALTER TABLE GIAOVIEN ADD CONSTRAINT CHECK_TUOILAM CHECK (YEAR(NGVL) - YEAR(NGSINH) >= 22)

-- I.14 Tất cả các môn học đều có số tín chỉ lý thuyết và tín chỉ thực hành chênh lệch nhau không quá 3
ALTER TABLE MONHOC ADD CONSTRAINT CHECK_TINCHI CHECK (ABS(TCLT - TCTH) <= 3)

-- II.1 Tăng hệ số lương thêm 0.2 cho những giáo viên là trưởng khoa
UPDATE GIAOVIEN
SET HESO = 1.2 * HESO
WHERE MAGV IN (SELECT TRGKHOA FROM KHOA)

-- II.2 Cập nhật giá trị điểm trung bình tất cả các môn học (DIEMTB) của mỗi học viên (tất cả các môn học đều có hệ số 1 và nếu học viên thi một môn nhiều lần, chỉ lấy điểm của lần thi sau cùng)
UPDATE HOCVIEN
SET DIEMTB =
	(
		SELECT AVG(DIEM)
		FROM 
		(
			SELECT MAHV, MAMH, MAX(LANTHI) MAX_LANTHI
			FROM KETQUATHI
			GROUP BY MAHV, MAMH
		) AS A JOIN KETQUATHI B
		ON A.MAHV = B.MAHV AND A.MAMH = B.MAMH AND B.LANTHI = MAX_LANTHI
		GROUP BY B.MAHV
		HAVING B.MAHV = HOCVIEN.MAHV
	)

-- II.3 Cập nhật giá trị cho cột GHICHU là “Cam thi” đối với trường hợp: học viên có một môn bất kỳ thi lần thứ 3 dưới 5 điểm
UPDATE HOCVIEN
SET GHICHU = 'Cam thi'
WHERE MAHV IN 
	(
		SELECT MAHV
		FROM KETQUATHI
		WHERE LANTHI = 3 AND DIEM < 5
	)

-- II.4 Cập nhật giá trị cho cột XEPLOAI trong quan hệ HOCVIEN như sau: 
-- Nếu DIEMTB >= 9 thì XEPLOAI = ”XS”
-- Nếu 8 <= DIEMTB < 9 thì XEPLOAI = “G”
-- Nếu 6.5 <= DIEMTB < 8 thì XEPLOAI = “K”
-- Nếu 5 <= DIEMTB < 6.5 thì XEPLOAI = “TB” 
-- Nếu DIEMTB < 5 thì XEPLOAI = ”Y” 

UPDATE HOCVIEN
SET XEPLOAI =
(
	CASE 
		WHEN DIEMTB >= 9 THEN 'XS'
		WHEN DIEMTB >= 8 AND DIEMTB < 9 THEN 'G'
		WHEN DIEMTB >= 6.5 AND DIEMTB < 8 THEN 'K'
		WHEN DIEMTB >= 5 AND DIEMTB < 6.5 THEN 'TB'
		WHEN DIEMTB < 5 THEN 'Y'
	END
)
WHERE DIEMTB IS NOT NULL

-- III.1 In ra danh sách (mã học viên, họ tên, ngày sinh, mã lớp) lớp trưởng của các lớp
SELECT MAHV, (HO+' '+TEN) HOTEN, NGSINH, MALOP
FROM HOCVIEN
WHERE MAHV IN (SELECT TRGLOP FROM LOP)

-- III.2 In ra bảng điểm khi thi (mã học viên, họ tên , lần thi, điểm số) môn CTRR của lớp “K12”, sắp xếp theo tên, họ học viên
SELECT HV.MAHV, (HO+' '+TEN) HOTEN, LANTHI, KQ.DIEM
FROM KETQUATHI KQ INNER JOIN HOCVIEN HV
ON KQ.MAHV = HV.MAHV
WHERE MAMH = 'CTRR' AND MALOP = 'K12'
ORDER BY TEN ASC, HO ASC

-- III.3 In ra danh sách những học viên (mã học viên, họ tên) và những môn học mà học viên đó thi lần thứ nhất đã đạt
SELECT KQ.MAHV, (HO+' '+TEN) HOTEN, MAMH
FROM KETQUATHI KQ INNER JOIN HOCVIEN HV
ON KQ.MAHV = HV.MAHV
WHERE LANTHI = 1 AND KQUA = 'Dat'

-- III.4 In ra danh sách học viên (mã học viên, họ tên) của lớp “K11” thi môn CTRR không đạt (ở lần thi 1)
SELECT KQ.MAHV, (HO+' '+TEN) HOTEN
FROM KETQUATHI KQ INNER JOIN HOCVIEN HV
ON KQ.MAHV = HV.MAHV
WHERE MAMH = 'CTRR' AND LANTHI = 1 AND KQUA = 'Khong dat'

-- III.5  Danh sách học viên (mã học viên, họ tên) của lớp “K” thi môn CTRR không đạt (ở tất cả các lần thi)
SELECT MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN
WHERE MAHV LIKE 'K%'
AND MAHV IN 
(
	SELECT A.MAHV
	FROM
		(
			SELECT MAHV, MAX(LANTHI) MAX_LANTHI
			FROM KETQUATHI
			GROUP BY MAHV, MAMH
			HAVING MAMH = 'CTRR'
		) AS A INNER JOIN
		(
			SELECT MAHV, COUNT(KQUA) COUNT_FAIL
			FROM KETQUATHI
			GROUP BY MAHV, MAMH, KQUA
			HAVING MAMH = 'CTRR' AND KQUA = 'Khong dat'
		) AS B ON A.MAHV = B.MAHV
	WHERE MAX_LANTHI = COUNT_FAIL
)

-- III.6 Tìm tên những môn học mà giáo viên có tên “Tran Tam Thanh” dạy trong học kỳ 1 năm 2006
SELECT DISTINCT TENMH
FROM MONHOC MH
	INNER JOIN GIANGDAY GD ON MH.MAMH = GD.MAMH
	INNER JOIN GIAOVIEN GV ON GD.MAGV = GV.MAGV
WHERE HOTEN = 'Tran Tam Thanh' AND HOCKY = 1 AND NAM = 2006

-- III.7 Tìm những môn học (mã môn học, tên môn học) mà giáo viên chủ nhiệm lớp “K11” dạy trong học kỳ 1 năm 2006
SELECT DISTINCT MH.MAMH, TENMH
FROM MONHOC MH
	INNER JOIN GIANGDAY GD ON MH.MAMH = GD.MAMH
	INNER JOIN LOP ON GD.MAGV = LOP.MAGVCN
WHERE LOP.MALOP = 'K11' AND HOCKY = 1 AND NAM = 2006

-- III.8 Tìm họ tên lớp trưởng của các lớp mà giáo viên có tên “Nguyen To Lan” dạy môn “Co So Du Lieu”
SELECT (HO+' '+TEN) HOTEN
FROM HOCVIEN
WHERE MAHV IN
(
	SELECT TRGLOP
	FROM LOP 
		JOIN GIANGDAY GD ON LOP.MALOP = GD.MALOP
		JOIN GIAOVIEN GV ON GV.MAGV = GD.MAGV
		JOIN MONHOC MH ON MH.MAMH = GD.MAMH
	WHERE GV.HOTEN = 'Nguyen To Lan' AND TENMH = 'Co So Du Lieu'
)

-- III.9 In ra danh sách những môn học (mã môn học, tên môn học) phải học liền trước môn “Co So Du Lieu”
SELECT MAMH, TENMH
FROM MONHOC
WHERE MAMH IN
(
	SELECT MAMH_TRUOC
	FROM DIEUKIEN DK
		JOIN MONHOC MH ON DK.MAMH = MH.MAMH
	WHERE TENMH = 'Co So Du Lieu'
)

-- III.10 Môn “Cau Truc Roi Rac” là môn bắt buộc phải học liền trước những môn học (mã môn học, tên môn học) nào
SELECT MAMH, TENMH
FROM MONHOC
WHERE MAMH IN
(
	SELECT DK.MAMH
	FROM DIEUKIEN DK
		JOIN MONHOC MH ON DK.MAMH_TRUOC = MH.MAMH
	WHERE TENMH = 'Cau Truc Roi Rac'
)

-- III.11 Tìm họ tên giáo viên dạy môn CTRR cho cả hai lớp “K11” và “K12” trong cùng học kỳ 1 năm 2006
SELECT HOTEN
FROM
(
	SELECT DISTINCT GV.MAGV, HOTEN
	FROM GIAOVIEN GV
		INNER JOIN GIANGDAY GD
	ON GV.MAGV = GD.MAGV
	WHERE HOCKY = 1 AND NAM = 2006 AND MAMH = 'CTRR'
	AND GV.MAGV IN
	(
		(SELECT MAGV FROM GIANGDAY WHERE MALOP = 'K11')
		INTERSECT (SELECT MAGV FROM GIANGDAY WHERE MALOP = 'K12')
	)
) AS A

-- III.12 Tìm những học viên (mã học viên, họ tên) thi không đạt môn CSDL ở lần thi thứ 1 nhưng chưa thi lại môn này
SELECT B.MAHV, (HO+' '+TEN) HOTEN
FROM
(
	SELECT DISTINCT A.MAHV
	FROM
	(
		SELECT MAHV, MAX(LANTHI) MAX_LANTHI
		FROM KETQUATHI
		GROUP BY MAHV, MAMH
		HAVING MAMH = 'CSDL'
	) AS A JOIN KETQUATHI KQ
	ON KQ.MAHV = A.MAHV AND LANTHI = MAX_LANTHI
	WHERE MAX_LANTHI = 1 AND KQUA = 'Khong dat'
) AS B JOIN HOCVIEN HV ON HV.MAHV = B.MAHV

-- III.13 Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào
SELECT MAGV, HOTEN
FROM GIAOVIEN
WHERE MAGV IN
(
	SELECT MAGV FROM GIAOVIEN
	EXCEPT SELECT DISTINCT MAGV FROM GIANGDAY
)

-- III.14 Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào thuộc khoa giáo viên đó phụ trách
-- => Tìm MAGV, HOTEN trong GIAOVIEN mà không có môn học nào thuộc khoa giáo viên đó xuất hiện trong các môn học giáo viên đó giảng dạy
SELECT MAGV, HOTEN
FROM GIAOVIEN GV
WHERE NOT EXISTS
(
	SELECT MAMH
	FROM MONHOC MH
	WHERE MH.MAKHOA = GV.MAKHOA
	AND EXISTS
	(
		SELECT MAMH
		FROM GIANGDAY GD
		WHERE GD.MAMH = MH.MAMH
		AND GD.MAGV = GV.MAGV
	)
)

-- III.15 Tìm họ tên các học viên thuộc lớp “K11” thi một môn bất kỳ quá 3 lần vẫn “Khong dat” hoặc thi lần thứ 2 môn CTRR được 5 điểm
SELECT (HO+' '+TEN) HOTEN
FROM HOCVIEN HV
	JOIN KETQUATHI KQ ON HV.MAHV = KQ.MAHV
WHERE MALOP = 'K11'
AND ((LANTHI >= 3 AND KQUA = 'Khong dat')
OR (LANTHI = 2 AND MAMH = 'CTRR' AND DIEM = 5))

-- III.16 Tìm họ tên giáo viên dạy môn CTRR cho ít nhất hai lớp trong cùng một học kỳ của một năm học
SELECT HOTEN
FROM GIAOVIEN
WHERE MAGV IN
(
	SELECT MAGV
	FROM GIANGDAY
	GROUP BY MAGV, HOCKY, NAM
	HAVING COUNT(MALOP) >= 2
)

-- III.17 Danh sách học viên và điểm thi môn CSDL (chỉ lấy điểm của lần thi sau cùng)
SELECT HV.*, B.DIEM 'Điểm thi CSDL sau cùng'
FROM HOCVIEN HV JOIN
(
	SELECT A.MAHV, KQ.DIEM
	FROM
	(
		SELECT MAHV, MAX(LANTHI) MAX_LANTHI
		FROM KETQUATHI
		GROUP BY MAHV, MAMH
		HAVING MAMH = 'CSDL'
	) AS A JOIN KETQUATHI KQ
	ON A.MAHV = KQ.MAHV AND KQ.LANTHI = MAX_LANTHI
	WHERE MAMH = 'CSDL'
) AS B ON HV.MAHV = B.MAHV

-- III.18 Danh sách học viên và điểm thi môn “Co So Du Lieu” (chỉ lấy điểm cao nhất của các lần thi)
SELECT HV.*, A.DIEM_MAX 'Điểm thi CSDL cao nhất' 
FROM HOCVIEN HV JOIN
(
	SELECT MAHV, MAX(DIEM) DIEM_MAX
	FROM KETQUATHI
	GROUP BY MAHV, MAMH
	HAVING MAMH = 'CSDL'
) AS A ON HV.MAHV = A.MAHV

-- III.19 Khoa nào (mã khoa, tên khoa) được thành lập sớm nhất
SELECT MAKHOA, TENKHOA
FROM KHOA
WHERE NGTLAP = (SELECT MIN(NGTLAP) FROM KHOA)

-- III.20 Có bao nhiêu giáo viên có học hàm là “GS” hoặc “PGS”
SELECT COUNT(*) 'Số giáo viên có học hàm GS hoặc PGS'
FROM GIAOVIEN
WHERE HOCHAM IN ('GS', 'PGS')

-- III.21 Thống kê có bao nhiêu giáo viên có học vị là “CN”, “KS”, “Ths”, “TS”, “PTS” trong mỗi khoa. 
SELECT MAKHOA, HOCVI, COUNT(*) 'Số giáo viên'
FROM GIAOVIEN
GROUP BY MAKHOA, HOCVI
ORDER BY MAKHOA

-- III.22 Mỗi môn học thống kê số lượng học viên theo kết quả (đạt và không đạt). 
SELECT MAMH, KQUA, COUNT(*) 'Số học viên'
FROM KETQUATHI KQ
GROUP BY MAMH, KQUA
ORDER BY MAMH

-- III.23 Tìm giáo viên (mã giáo viên, họ tên) là giáo viên chủ nhiệm của một lớp, đồng thời dạy cho lớp đó ít nhất một môn học. 
SELECT DISTINCT MAGVCN, HOTEN
FROM LOP, GIAOVIEN GV, GIANGDAY GD
WHERE MAGVCN = GD.MAGV AND GD.MALOP = LOP.MALOP
AND GV.MAGV = GD.MAGV

-- III.24 Tìm họ tên lớp trưởng của lớp có sỉ số cao nhất
SELECT HO+' '+TEN 'Họ tên lớp trưởng của lớp có sỉ số cao nhất'
FROM HOCVIEN
WHERE MAHV IN 
(
	SELECT TRGLOP
	FROM LOP
	WHERE SISO = (SELECT MAX(SISO) FROM LOP)
)

-- III.25 Tìm họ tên những LOPTRG thi không đạt quá 3 môn (mỗi môn đều thi không đạt ở tất cả các lần thi)
SELECT (HO+' '+TEN) HOTEN
FROM LOP, HOCVIEN HV,
((SELECT DISTINCT MAHV, MAMH FROM KETQUATHI) EXCEPT (SELECT DISTINCT MAHV, MAMH FROM KETQUATHI WHERE KQUA = 'Dat')) AS A
WHERE A.MAHV = LOP.TRGLOP AND A.MAHV = HV.MAHV
GROUP BY A.MAHV, HO, TEN
HAVING COUNT(*) > 3

-- III.26 Tìm học viên (mã học viên, họ tên) có số môn đạt điểm 9,10 nhiều nhất. 
SELECT MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN
WHERE MAHV IN
(
	SELECT MAHV
	FROM KETQUATHI KQ
	WHERE DIEM >= 9
	GROUP BY MAHV
	HAVING COUNT(*) =
	(
		SELECT MAX(SOMON) MAX_SOMON
		FROM
		(
			SELECT MAHV, COUNT(*) SOMON
			FROM KETQUATHI
			WHERE DIEM >= 9
			GROUP BY MAHV
		) AS A
	)
)

-- III.27 Trong từng lớp, tìm học viên (mã học viên, họ tên) có số môn đạt điểm 9,10 nhiều nhất.
SELECT A.MALOP, A.MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN HV,
(
	SELECT HV.MALOP, HV.MAHV, COUNT(*) SOMH_TREN9
	FROM KETQUATHI KQ, HOCVIEN HV
	WHERE KQ.MAHV = HV.MAHV AND DIEM >= 9
	GROUP BY HV.MAHV, HV.MALOP
) AS A,
(
	SELECT MALOP, MAX(SOMH_TREN9) MAX_SOMH_TREN9
	FROM 
	(	
		SELECT MALOP, COUNT(*) SOMH_TREN9
		FROM KETQUATHI KQ, HOCVIEN HV
		WHERE KQ.MAHV = HV.MAHV AND DIEM >= 9
		GROUP BY HV.MAHV, HV.MALOP
	) AS B
	GROUP BY B.MALOP
) AS C
WHERE A.MALOP = C.MALOP AND A.SOMH_TREN9 = C.MAX_SOMH_TREN9 AND HV.MAHV = A.MAHV
ORDER BY A.MALOP

-- III.28 Trong từng học kỳ của từng năm, mỗi giáo viên phân công dạy bao nhiêu môn học, bao nhiêu lớp.
SELECT MAGV, COUNT(DISTINCT MAMH) SOMONHOC, COUNT(DISTINCT MALOP) SOLOP
FROM GIANGDAY
GROUP BY MAGV

-- III.29 Trong từng học kỳ của từng năm, tìm giáo viên (mã giáo viên, họ tên) giảng dạy nhiều nhất. 
SELECT GV.MAGV, HOTEN
FROM GIAOVIEN GV, GIANGDAY GD
WHERE GV.MAGV = GD.MAGV
GROUP BY GV.MAGV, HOTEN
HAVING COUNT(*) =
(
	SELECT MAX(SOGD)
	FROM (SELECT COUNT(*) SOGD FROM GIANGDAY GROUP BY MAGV) AS A
)

-- III.30 Tìm môn học (mã môn học, tên môn học) có nhiều học viên thi không đạt (ở lần thi thứ 1) nhất.
SELECT KQ.MAMH, TENMH
FROM MONHOC MH, KETQUATHI KQ
WHERE MH.MAMH = KQ.MAMH AND KQUA = 'Khong dat'
GROUP BY KQ.MAMH, TENMH
HAVING COUNT(*) =
(
	SELECT MAX(SOKD)
	FROM (SELECT COUNT(*) SOKD FROM KETQUATHI WHERE KQUA = 'Khong dat' GROUP BY MAMH) AS A
)

-- III.31 Tìm học viên (mã học viên, họ tên) thi môn nào cũng đạt (chỉ xét lần thi thứ 1)
SELECT HV.MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN HV,
(SELECT MAHV, COUNT(DISTINCT MAMH) SOMONTHI FROM KETQUATHI KQ GROUP BY MAHV) AS A,
(SELECT MAHV, COUNT(*) SOMONDAT FROM KETQUATHI KQ WHERE LANTHI = 1 AND KQUA = 'Dat' GROUP BY MAHV) AS B
WHERE HV.MAHV = A.MAHV AND A.MAHV = B.MAHV AND SOMONTHI = SOMONDAT

-- III.32 Tìm học viên (mã học viên, họ tên) thi môn nào cũng đạt (chỉ xét lần thi sau cùng).
SELECT HV.MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN HV JOIN
(
	SELECT A.MAHV
	FROM
	(
		SELECT MAHV, COUNT(DISTINCT MAMH) COUNT_MH
		FROM KETQUATHI
		GROUP BY MAHV
	) AS A JOIN
	(
		SELECT MAHV, COUNT(*) COUNT_PASS
		FROM (
			SELECT KQ.MAHV, KQ.MAMH, MAX_LANTHI, KQUA
			FROM KETQUATHI KQ JOIN
			(
				SELECT MAHV, MAMH, MAX(LANTHI) MAX_LANTHI
				FROM KETQUATHI
				GROUP BY MAHV, MAMH
			) AS B
			ON KQ.MAHV = B.MAHV AND KQ.MAMH = B.MAMH AND LANTHI = MAX_LANTHI
		) AS C
		GROUP BY MAHV, KQUA
		HAVING KQUA = 'Dat'
	) AS D
	ON A.MAHV = D.MAHV AND COUNT_MH = COUNT_PASS
) AS E ON HV.MAHV = E.MAHV

-- III.33 Tìm học viên (mã học viên, họ tên) đã thi tất cả các môn đều đạt (chỉ xét lần thi thứ 1)
SELECT HV.MAHV, (HO+' '+TEN) HOTEN
FROM HOCVIEN HV JOIN
(
	SELECT A.MAHV
	FROM
	(
		SELECT MAHV, COUNT(*) COUNT_PASS
		FROM KETQUATHI
		GROUP BY MAHV, LANTHI, KQUA
		HAVING LANTHI = 1 AND KQUA = 'Dat'
	) AS A
	WHERE COUNT_PASS = (SELECT COUNT(*) FROM MONHOC)
) AS B ON HV.MAHV = B.MAHV

-- III.35 Tìm học viên (mã học viên, họ tên) có điểm thi cao nhất trong từng môn (lấy điểm ở lần thi sau cùng). 
SELECT HV.MAHV, (HO+' '+TEN) HOTEN, KQ.MAMH
FROM HOCVIEN HV
JOIN KETQUATHI KQ ON HV.MAHV = KQ.MAHV
JOIN
(
	SELECT MAMH, MAX(DIEM) MAX_DIEM
	FROM 
	(
		SELECT KQ.MAHV, KQ.MAMH, MAX_LANTHI, DIEM
		FROM KETQUATHI KQ JOIN
		(
			SELECT MAHV, MAMH, MAX(LANTHI) MAX_LANTHI
			FROM KETQUATHI
			GROUP BY MAHV, MAMH
		) AS B
		ON KQ.MAHV = B.MAHV AND KQ.MAMH = B.MAMH AND LANTHI = MAX_LANTHI
	) AS C
	GROUP BY MAMH
) AS D
ON KQ.MAMH = D.MAMH AND DIEM = MAX_DIEM